In [2]:
%matplotlib inline 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import html5lib
import requests
import re

from bs4 import BeautifulSoup

### Cycle15-17 is downloaded from http://cxc.harvard.edu/target_lists/cycle17/cycle17_table.html

### First method: we can only do Cycle 9-14

In [21]:
num='14' #'13','12','11','10'
#cycle=requests.get("http://cxc.harvard.edu/target_lists/cycle%s/allproposals%s.html"%(num,num)).text

In [18]:
num='9'
cycle=requests.get("http://cxc.harvard.edu/target_lists/cycle%s/abstracts_cycle%s.html"%(num,num)).text

In [22]:
soup=BeautifulSoup(cycle,"lxml")
#print(soup.prettify())

table=soup.find_all('table')[1]
df=pd.read_html(str(table))[0]
df=df[1:]
df.columns=['Proposal Number','Category','Type','PI Name','Title']
exp_time=[]
for table in soup.find_all('table')[2:]:
    exp_time.append(pd.read_html(str(table))[0].loc[1:,5].apply(float).sum())
df['Time']=exp_time
df['Year']='20'+'%02i' % float(num)
df.tail()

,Proposal Number,Category,Type,PI Name,Title,Time,Year
179,09900712,EXTRAGALACTIC DIFFUSE EMISSION AND SURVEYS,TOO,Andrew Levan,Identifying the host galaxies for optically da...,75.0,2014
180,09910027,GALACTIC DIFFUSE EMISSION AND SURVEYS,GTO,Gordon Garmire,The Great Nebula in Carina: Protoplanetary Dis...,120.0,2014
181,09910161,GALACTIC DIFFUSE EMISSION AND SURVEYS,VLP,Leisa Townsley,The Great Nebula in Carina: Protoplanetary Dis...,1080.0,2014
182,09910246,GALACTIC DIFFUSE EMISSION AND SURVEYS,LP,Mikhail Revnivtsev,THE ORIGIN OF THE GALACTIC RIDGE X-RAY EMISSION,900.0,2014
183,09910432,GALACTIC DIFFUSE EMISSION AND SURVEYS,GO,Dong-Woo Kim,Intermediate-Age Elliptical Galaxies,145.0,2014

In [15]:
df.to_csv('/Users/taweewat/Documents/data_visualization/chandra_proposal/cycle_%02i.csv'%float(num),index=False)

### Second method: we do Cycle 7 and 8

In [692]:
num='7'
cycle=requests.get("http://cxc.harvard.edu/target_lists/cycle%s/abstracts_cycle%s.html"%(num,num)).text

In [693]:
cut=cycle[re.search('</html>',cycle).span()[0]:]
cut2=re.sub(r'--|==|\n', '', cut)
ms=[]
for m in re.finditer(r'Name', cut2):
    ms.append(m.start())
cut4=cut2[ms[-1]:]
cut3=re.findall('(?<=Name)(.*?)(?=<br />)', cut2)+re.findall('(?<=Det\.)(.*?)(?=</pre)',cut4)
time=[]
for cuti in cut3:
    g=re.findall(r' \d+\.\d+', cuti)
    time.append(np.sum([float(i) for i in g]))

In [694]:
np.sum([i==0 for i in time])

0

In [363]:
pnumber=re.findall('(?<=Proposal Number:)(.*?)(?=<br)',cut2)
title=re.findall('(?<=Proposal Title:)(.*?)(?=PI)',cut2)
pi=re.findall('(?<=PI:)(.*?)(?=<br)',cut2)
cat=re.findall('(?<=Subject Category:)(.*?)(?=<br)',cut2)

pnumber=[x.strip() for x in pnumber]
title=[x.strip() for x in title]
pi=[x.strip() for x in pi]
cat=[x.strip() for x in cat]
print len(pnumber),len(title),len(pi),len(cat),len(time)

207 207 207 207 207

In [364]:
df=pd.DataFrame({'Proposal Number':pnumber,'Category':cat,'PI Name':pi,'Title':title,'Time':time})
df['Year']='20'+'%02i' % float(num)

In [365]:
df.tail()

,Category,PI Name,Proposal Number,Time,Title,Year
202,GALACTIC DIFFUSE EMISSION AND SURVEYS,Adrienne Juett,07910330,50.0,A High-Resolution Study of Interstellar Absorp...,2007
203,GALACTIC DIFFUSE EMISSION AND SURVEYS,Leisa Townsley,07910358,80.0,Hot Plasma in W4: A Supernova-free Superbubble?,2007
204,GALACTIC DIFFUSE EMISSION AND SURVEYS,Michael Muno,07910613,600.0,A Legacy Study of Stellar Life Cycles at the G...,2007
205,GALACTIC DIFFUSE EMISSION AND SURVEYS,Mallory Roberts,07911006,20.0,A SMALL CHANDRA SURVEY OF HARD X-RAY SOURCES I...,2007
206,NULL,,07911088,100.0,NULL,2007

In [366]:
df.to_csv('/Users/taweewat/Documents/data_visualization/chandra_proposal/cycle_%02i.csv'%float(num),index=False)

### Third method: we do from 2001-2006

In [684]:
num='6'#5-6
cycle=requests.get("http://cxc.harvard.edu/target_lists/cycle%s/abstracts_cycle%s.html"%(num,num)).text

#num='4'
#cycle=requests.get("http://cxc.harvard.edu/target_lists/cycle%s/abstracts_all_ao%s.html"%(num,num)).text

#num='3' #1-3
#cycle=requests.get("http://cxc.harvard.edu/target_lists/cycle%s/abstracts_cyc%s.html"%(num,num)).text

In [685]:
#cut=cycle[re.search('</html>',cycle).span()[0]:]
cut=cycle
cut2=re.sub(r'--|==|\n', '', cut)
ms=[]
for m in re.finditer(r'Name', cut2):
    ms.append(m.start())
cut4=cut2[ms[-1]:]
cut3=re.findall('(?<=Det\.)(.*?)(?=Pr)', cut2)+re.findall('(?<=Det\.)(.*?)(?=</pre)',cut4)
time=[]
for cuti in cut3:
    g=re.findall(r' \d+\.\d+', cuti)
    time.append(np.sum([float(i) for i in g]))

In [686]:
np.sum([i==0 for i in time])

0

In [687]:
pnumber=re.findall('(?<=Proposal Number:)(.*?)(?=Pro)',cut2)
title=re.findall('(?<=Proposal Title:)(.*?)(?=PI:)',cut2)
pi=re.findall('(?<=(?<!\()PI:)(.*?)(?=Sub)',cut2)
cat=re.findall('(?<=Subject Category:)(.*?)(?=Ab)',cut2)

In [688]:
#in case of some of the object has no abstract; then go back to step that print out len
group=[re.findall('(?<=Category:)(.*?)(?=Ab)',i) for i in re.findall('(?<=Subject)(.*?)(?=Grat)',cut2)]
ilist=[]
for i, item in enumerate(group):
    if not item:
        ilist.append(i)
for i in ilist:
    group[i]=[re.findall('(?<=Subject)(.*?)(?=Grat)',cut2)[i]]
cat=group

In [689]:
pnumber=[x.strip() for x in pnumber]
title=[x.strip() for x in title]
pi=[x.strip() for x in pi]
#cat=[x.strip() for x in cat]
cat2=[x[0].strip().replace("Category:","",1) for x in cat]
print len(pnumber),len(title),len(pi),len(cat2),len(time)

202 202 202 202 202

In [690]:
df=pd.DataFrame({'Proposal Number':pnumber,'Category':cat2,'PI Name':pi,'Title':title,'Time':time})
df['Year']='20'+'%02i' % float(num)
df.head()

,Category,PI Name,Proposal Number,Time,Title,Year
0,SOLAR SYSTEM,Carey Lisse,06100312,300.0,Comet 9P/Tempel 1 During the Deep Impact Encou...,2006
1,STARS AND WD,Stephen Murray,06200016,90.0,Star formation in the young star cluster NGC 6231,2006
2,STARS AND WD,Gordon Garmire,06200050,30.0,Alternate: A Search for X-ray Activity from a ...,2006
3,STARS AND WD,Gordon Garmire,06200059,21.0,Search for beta Pic analogs,2006
4,STARS AND WD,Fabio Favata,06200079,100.0,X-ray emission from fast moving shocks in the ...,2006

In [691]:
df.to_csv('/Users/taweewat/Documents/data_visualization/chandra_proposal/cycle_%02i.csv'%float(num),index=False)

In [640]:
re.findall('(?<=Det\.)(.*?)(?=Pr)', cut2)

u'   ing    Time - 03:55:23.00  +31:02:45.00  X PERSEI (HD 24534)   HRC-S  LETG  50.00='